html{
  height:100%;
  display: flex;  
}

body, #root{
  display: flex;
  flex: 1;
} 

.App {
  display: flex;
  flex: 1;
  gap: 1rem
}

.weavy-app{
  display: flex;
  flex: 1;
}

.navbar{
  display: flex;
  flex-direction: column;
  background-color:tomato;
  padding: 0 2rem;
}

.navbar > a {

  text-decoration: none;
  font-size: 1.5rem;
  color: #fff;
  padding: .5rem
}

main{
  display: flex;
  flex: 1
}